ADMIN_USER=admin
ADMIN_PASS=admin123

LMS_ENROLL_URL=https://class.genziitian.in/api/external-enroll
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZIsIn...
VITE_SUPABASE_URL=https://qaevtwsmomhapzqcrynh.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZIsIn...
VITE_RAZORPAY_KEY_ID=rzp_live_RL7wlGyQgdV5XK
RAZORPAY_SECRET=dOvLp2ZOLaLKHuFP53Fccl8e
EXTERNAL_ENROLL_SECRET=4cfe3b461e35e29be942d83e9d7a946fa98f9bc578512e1540462568f...
RAZORPAY_WEBHOOK_SECRET=DPGYKBcAv_9r4tP
GOOGLE_SHEET_WEBHOOK_URL=https://script.google.com/macros/s/AKfycbwjtCYznzp-mzXjPQ2nBLDT...
WELCOME_WEBHOOK_URL=https://script.google.com/macros/s/AKfycbyRwTpiJtOCQhqybt2TrFl2l...
VITE_CAREERS_SCRIPT_URL=https://script.google.com/macros/s/AKfycbzd31F7J5uPX2pjB6NaNBko_6ClXR_WrIxLhi-Wht7JsMIWxm0hG5XfSmJdboBjWwovFg/exec
